@use '../../../styles/utiles/variables' as *;
@use '../../../styles/utiles/mixins' as *;

.attention {
  width: 100%;
  padding: 15px 15px 20px;
  border: 1px solid var(--pending);
  border-radius: $b-radius;

  @include on-tablet {
    width: 42%;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__circle {
    border: 1px solid var(--pending);
    text-align: center;
    border-radius: $b-radius;
    color: var(--pending);
    height: 18px;
    width: 18px;
    line-height: 15px;
  }

  &__title {
    font-weight: 300;
    font-size: 18px;
    color: var(--pending);
  }

  &__list {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__text-task {
    color: var(--light-text-color);
    font-size: 12px;
  }

  &__text-details {
    color: var(--shadow-gray);
    font-size: 10px;
  }

  &__text-link {
    font-size: 12px;
    color: var(--text-accent-color);

    &-wrapper {
      display: flex;
      align-items: center;
    }
  }
}
