@use "../styles/utiles/variables" as *;
@use "../styles/utiles/mixins" as *;
@import "tailwindcss";

:root {
  --light-text-color: #E5E7EB;
  --text-color: #C5CAD3;
  --secondary-text-color: #596275;
  --text-accent-color: #3B82F6;
  --accent-color: #1E40AF;
  --secondary-bg-color: #313B54;
  --bg-item-color: #1E2233;
  --bg-color: #121622;
  --bg-not-active: #0C0F17;
  --bg-color2: #252A3D;
  --sdcj: #8A8C98;
  --active: #3BB979;
  --pending: #FDD261;
  --red: #B93B3B;
  --violete-color: #6A3BF6;
}

body {
  background: var(--bg-color);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  @include pagePadding;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-title {
  font-size: 21px;
  text-transform: capitalize;
  color: var(--light-text-color);
}

td {
  color: var(--light-text-color);
  font-weight: 100;
}

th {
  text-transform: uppercase;
  font-weight: 100;
  color: #94A3B8;
}
