@use "../styles/utiles/variables" as *;
@use "../styles/utiles/mixins" as *;
@use "../styles/table" as *;
@use "../styles/status-circle" as *;
@use "../fonts/fonts" as *;

@import "tailwindcss";

:root {
  --light-text-color: #e5e7eb;
  --text-color: #c5cad3;
  --secondary-text-color: #596275;
  --text-accent-color: #3b82f6;
  --accent-color: #1e40af;
  --secondary-bg-color: #313b54;
  --bg-item-color: #1e2233;
  --bg-color: #121622;
  --bg-not-active: #0c0f17;
  --bg-color2: #252a3d;
  --sdcj: #8a8c98;
  --active: #3bb979;
  --pending: #fdd261;
  --red: #b93b3b;
  --violete-color: #6a3bf6;
  --text-small: #94a3b8;
}

body {
  background: var(--bg-color);
  color: var(--foreground);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

article {
  background-color: var(--bg-item-color);
  @include bordered;
}

.head-name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  color: #94A3B8;
}

.container {
  @include pagePadding;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-title {
  font-size: 21px;
  text-transform: capitalize;
  color: var(--light-text-color);
}

.dashboard {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 1fr 1fr 40%;
  grid-template-areas: 
    "queuetable goals actions"
    "queuetable goals intelligence"
    "accounts accounts accounts";
  height: 100%;

  &__queue {
    grid-area: queuetable;
    height: 525px;

    @media (min-width: 889px) {
      height: 500px;
    }

    @include on-desktop {
      height: 550px;
    }
  }
  &__goals {
    grid-area: goals;
    background-color: lightgreen;
  }
  &__actions {
    grid-area: actions;
    background-color: khaki;
  }
  &__intelligence {
    grid-area: intelligence;
    background-color: orange;
  }
  &__accounts {
    grid-area: accounts;
    background-color: lightcoral;
  }
}
