@use "../../styles/utiles/mixins.scss" as *;

.header {
  @include pagePadding;
  
  height: 60px;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-bg-color);

  @include on-tablet {
    height: 80px;
  }

  &__left {
    font-size: 12px;
    padding-top: 20px;

    @include on-tablet {
      font-size: 18px;
      line-height: 80px;
      padding-top: 0;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 50%;

    @include on-tablet {
      width: 40%;
    }
  }
}

.search {
  width: 80%;

  &__input {
    height: 28px;
    width: 100%;
    padding-left: 5px;
    background-color: var(--bg-item-color);
    @include bordered;

    @include on-tablet {
      height: 48px;
      padding-left: 15px;
    }
  }
}
