@use "./variables" as *;

@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin bordered {
  border: $border;
  border-radius: $b-radius;
}

@mixin border-color-item {
  border: 1px solid var(--text-accent-color);
  border-radius: $b-radius;
  color: var(--text-accent-color);
  text-align: center;
  height: 24px;
  line-height: 24px;
}

@mixin pagePadding {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 10px;

  @include on-tablet {
    padding-inline: 20px;
  }

  @include on-desktop {
    padding-inline: 0;
  }
}
