@use "./variables" as *;

@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin bordered {
  border: $border;
  border-radius: $b-radius;
}

@mixin pagePadding {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 10px;
  
  @include on-tablet {
    padding-inline: 20px;
  }

  @include on-desktop {
    padding-inline: 0;
  }
}
