@use '../../../styles/utiles/variables' as *;
@use '../../../styles/utiles/mixins' as *;

.nav {
  margin-top: 20px;

  &__list {
    display: flex;
    gap: 15px;
    list-style: none;
    flex-wrap: wrap;
  }

  &__item {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: fit-content;
    padding-inline: 10px;
    height: 47px;
    background-color: var(--bg-not-active);
    @include bordered;
    cursor: pointer;
    box-sizing: border-box;

    &--active {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    flex-shrink: 0;
  }

  &__item-name {
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 12px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-color);
    }

    &--active {
      color: white;

      &:hover {
        color: white;
      }
    }
  }
}
